

<div class="container story_pics">

      <% @photos.each do |photo| %>
          <% if photo.user.email == "bobby@example.com" %>
            <%= image_tag photo.picture %>
          <% end %>
        </div>
      <% end %>
<%= link_to 'Back', photos_path %> 
