// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: black;
}

.featurette-divider {
  border: 1px solid red;
}

.search {
  color: white;
}

.title {
  color: white;
}
#photos-section {
  display: none;
}
#large-photo {
  display: none;
}
.title-pop {
  color: white;
}
#content {
  border: 2px solid white;
}
